# Build results
bin/
obj/

# Database files
*.db
*.db-shm
*.db-wal

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio
.vs/

# VS Code
.vscode/

# NuGet
*.nupkg
*.snupkg

# Dependencies
wwwroot/lib/